@import url('https://fonts.googleapis.com/css2?family=Cute Font&display=swap');
body {
    background: rgb(66, 120, 245);
}

#container #top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
}

#container #top #title{
    color: white;
    font-size: 70px;
    font-family: "Cute Font";
    font-weight: bold;
}

#container #top label{
    color: black;
    font-size: 40px;
    font-family: "Cute Font";
}

#container #top #msg{
    font-size:25px;
    background:white;
    padding:5px;
    border-radius: 10px;
}

#container #content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container #content .item {
    background: white;
    padding: 10px;
    margin: 30px;
    color: white;
    transition: 0.5s;
    border-radius: 20px;
    height: 330px;
    width: 90%;

}

#container #content .item:hover {
    background-color: rgba(90, 66, 245.3);
}

#container #content #img {
    max-width: 180px;
    max-height: 180px;
}

#container #content .item .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    background: white;
}

#container #content .item .label {
    text-align: center;
    font-family: "Cute Font";
    color: rgb(175, 165, 240);
    font-size: 30px;
}

#container #content .item .label .name {
    font-size: 35px;
    font-weight: bold;
}

a {
    text-decoration: none;
    width:400px;
}
